.team {
  @extend %section;

  padding-top: 94px;
  background-color: #f5f4fa;
}

.team__sub-title {
  @include SubTitle;
}

.list__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list__item:last-child {
  margin-right: 0;
}
.team__title {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.features__text,
.team__text {
  color: var(--text-color);
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}

.list__item {
  padding-bottom: 30px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.icons__element:not(:last-child) {
  margin-right: 10px;
}
.icons {
  display: flex;
  justify-content: center;
}
.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover svg,
  &:focus svg {
    fill: #fff;
  }
}
.icons__svg {
  fill: #afb1b8;

  transition: fill 250ms var(--timing-function);
}
